[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/mj-custom-theme"]
	path = themes/mj-custom-theme
	url = https://github.com/KimMJ/mj-custom-theme.git
